Data_Memo_Transfer.spec
global_variable.py
test.lock
./build/
./dist/
./BuildExe/
./BuildExe/*.zip
Build_Data_Memo_transfer_*/
Data_Memo_transfer_*/
Logs/*.log
*.build/
*.dist/
__pycache__/*
.mypy_cache/*
*/__pycache__/*
*/.mypy_cache/*
