old/
log/
build/
dist/
Build_Data_Memo_transfer_*/
Data_Memo_transfer_*/
__pycache__/
.mypy_cache/
controller/__pycache__/
test.lock
test.json
pyinstaller/*
pyinstaller/
*.exe
*.build/
*.dist/
*.onefile-build/
